:root {
    --background: rgb(0, 0, 0);
    --green: rgb(47, 206, 47);
}

@font-face {
    font-family: "pixel";
    src: url("./fonts/pixelatedeleganceregular-ovyaa-webfont.woff2") format("woff2"),
         url("./fonts/pixelatedeleganceregular-ovyaa-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

body {
    height: 100vh;
    width: 100vw;
    font-family: "pixel", sans-serif;
    font-size: 12px;
    color: var(--green);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    padding: 50px;
    justify-content: center;
    font-size: 2em;
    border-bottom: 5px solid var(--green);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0px;
}

#display {
    font-size: 1.4em;
}

#container {
    display: grid;
    width: fit-content;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid var(--green);
}

.row {
    display: flex;
}

.cell {
    border: 1px solid var(--green);
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 6em;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: 1px solid var(--green);
    background-color: inherit;
    color: inherit;
    border-radius: 5px;
    padding-left: 5px;
}

#button {
    background: var(--green);
    color: var(--background);
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 10px;
}

#footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    padding: 25px;
    border-top: 5px solid var(--green);
}